<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983725555821-sbun7m81e2ppopc1ehdeotvmnv28eopp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983725555821-sbun7m81e2ppopc1ehdeotvmnv28eopp</string>
	<key>API_KEY</key>
	<string>AIzaSyCRTpjYrWmtQeV6ScQd6cEEojL9Lq6kGiA</string>
	<key>GCM_SENDER_ID</key>
	<string>983725555821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.elmerd.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-elmerd</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-elmerd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983725555821:ios:c2b13724b5d9858d5ebf64</string>
</dict>
</plist>